
/* Header */
header {
    z-index: 100;
    position: relative;
    display: flex;
    height: 150px;
    background-color: #F24822;
}

#logo {
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto; 
}

#navigation {
    z-index: 1000;
    align-content: center;
    margin-left: auto;
    margin-right: 2%;
}

/* Footer */
footer {
    display: flex;
    padding: 2%;
    background-color: #F24822;
    color: #fff;
}

div > p {
    margin: 6px;
}

#emailAdress {
    margin: 15px 5px !important;
}

a {
    color: #fff;
    text-decoration: none;
}

#someLinks {
    margin-left: auto;
    align-content: center;
}

#someLinks > a {
    margin: 5px;
}

/* Screens under 800px*/
@media screen and (max-width: 800px) {
    footer { flex-direction: column; padding-top: 30px; padding-bottom: 30px; }
    footer > div { margin-left: auto; margin-right: auto; text-align: center; }
    #someLinks { margin-top: 20px; }
}

/* Screens under 640px*/
@media screen and (max-width: 640px) {
    header { height: 130px; }
    #logo > img { width: 100px; }
}