  <!-- Header with main navigation -->
  <header>
    <a routerLink="home" id="logo"><img [src]="logo" width="130" alt="Norrlands Universitet"></a>
    <app-navigation id="navigation"></app-navigation>
  </header>
  <main>
    <router-outlet />
  </main>
  <!-- Footer -->
  <footer>
    <div>
      <p><strong>Norrlands Universitet</strong></p>
      <p>Lärgatan 86</p>
      <p>Staden 236 45</p>
      <p id="emailAdress"><em><a href="mailto:info@ul.se">Skicka mail här</a></em></p>
    </div>
    <div id="someLinks">
      <a href="https://www.facebook.com/" target="_blank"><img [src]="fb" width="50" alt="Facebook logotyp"></a>
      <a href="https://www.instagram.com/" target="_blank"><img [src]="ig" width="50" alt="Instagram logotyp"></a>
    </div>
  </footer>
