<!-- Banner -->
<div id="introPic">
    <div id="drapes">
        <img [src]="bigLogo" width="290" alt="Norrlands Universitet">
    </div>
</div>
<section>
    <p id="introText">Välj bland {{ courses.length }} kurser inom
        <ng-container *ngFor="let category of categories; let i=index">
            <ng-container *ngIf="i < 4">
                {{category }},
            </ng-container>
        </ng-container>
    och mycket mer!</p>
    <!-- Navigation options -->
    <div id="alternatives">
        <a routerLink="../courses" id="ourCourses">
            <img [src]="bookIcon" width="140" alt="Ikon av bok">
            <p>Våra kurser ►</p>
        </a>
        <a routerLink="../schedule" id="yourCourses">
            <img [src]="personIcon" width="100" alt="Ikon av person">
            <p>Dina kurser ►</p>
        </a>
    </div>
</section> 