<!-- Search inputs -->
<div id="inputsContainer" *ngIf="!mediumScreen">
    <div id="inputs">
        <div id="filter">
            <label for="search">Sök: </label>
            <input type="text" name="search" id="search" placeholder="kursnamn, kurskod" [(ngModel)]="filterValue" (input)="filterSearch()">
            <label for="subject">Ämne: </label>
            <select name="subject" id="subject" [(ngModel)]="subjectValue" (change)="filterSubject()">
                <option *ngFor="let category of categories" value="{{ category }}">{{ category }}</option>
            </select>
        </div>
        <div id="sort" (click)="displaySort()">
            <p>Sortera</p>
            <img [src]="sortIcon" width="30" alt="Sortera knapp">
        </div>
    </div>
    <ul *ngIf="clicked" (click)="sortList($event)">
        <li>Kursnamn</li>
        <li>Ämne</li>
        <li>Kurskod</li>
        <li>Poäng</li>
    </ul> 
    <button *ngIf="filterBtn" (click)="displayFilters()" id="filterBtn">Sök</button>
</div>
<img [src]="filterIcon" width="40" alt="Ikon för filtrering" id="filterMenu" *ngIf="mediumScreen" (click)="displayFilters()">
<!-- Courses -->
<section>
    <div id="searchResults">
        <h1>Kurser</h1>
        <p class="showedArticles">Antal kurser: {{ filteredCourses.length }}</p>
    </div>
    <div class="confirm" *ngIf="added">
        <p>Kursen är tillagd! </p>
        <a routerLink="../schedule"> Till dina kurser ►</a>
    </div>
    <div class="confirm" *ngIf="removed">
        <p>Kursen har tagits bort. </p>
        <a routerLink="../schedule"> Till dina kurser ►</a>
    </div>
    <p *ngIf="filteredCourses.length === 0">Inga kurser hittades.</p>
    <!-- Artiklar för kurser-->
    <div *ngFor="let course of filteredCourses; let i=index">
        <article *ngIf="i < indexLimit ">
            <div>
                <a href="{{ course.syllabus }}" target="_blank"><h2>{{ course.courseName }}, {{ course.points }} hp</h2></a>
                <p>{{ course.subject }}, {{ course.level }}({{course.progression}})</p>
                <p>Kurskod: {{ course.courseCode }}</p>
            </div>
            <button (click)="addCourse(course)" *ngIf="course.added != true">Lägg till</button>
            <button (click)="removeCourse(course.courseCode)" *ngIf="course.added === true">Tillagd</button>
        </article>
    </div>
    <!-- Visa fler kurser -->
    <div id="seeMoreDiv" *ngIf="moreCourses">
        <button (click)="loadMore()" id="loadBtn"><strong>Ladda fler</strong></button>
        <p>Antal visade: {{ indexLimit }}st</p>
    </div>
</section>