<!-- Search inputs -->
<div id="inputs">
    <label for="search">Sök: </label>
    <input type="text" name="search" id="search" placeholder="kursnamn, kurskod">
    <label for="subject">Ämne: </label>
    <select name="subject" id="subject">
        <option value="Choose" hidden="true" select="selected">Välj</option>
        <!-- Loopa igenom -->
    </select>
    <label for="points">Poäng: </label>
    <select name="points" id="points">
        <option value="Choose" hidden="true" select="selected">Välj</option>
        <!-- Loopa igenom -->
    </select>
</div>
<!-- Courses -->
<section>
    <div id="courseSummory">
        <h1>Kurser</h1>
        <p>Antal kurser: </p> <!-- Räkna ut -->
    </div>
</section>