/* General */
section {
    margin: 0px 3%;
    margin-bottom: 40px;
}

/* Filters */
#filterMenu {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 3%;
    position: sticky;
    top: 20px;
}

#inputsContainer {
    position: sticky;
    top: 0;
}

#inputs {
    background-color: #E7E7E7;
    display: flex;
    margin-bottom: 40px;
    padding: 20px 0px;
    box-shadow: 0px 20px 10px rgba(99, 99, 99, 0.5);
}

#filter {
    flex: 1;
    align-content: center
}

label {
    margin-left: 3%;
    margin-right: 5px;
}

input, select {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2)
}

#sort {
    display: flex;
    width: fit-content;
    margin-right: 3%;
    cursor: pointer;
}

#sort > p {
    margin-right: 10px;
}

ul {
    z-index: 1000;
    position:absolute;
    width: fit-content;
    right: 0;
    margin-top: -40px;
    margin-right: 3%;
    padding: 0px;
    list-style-type: none;
    background-color: #E7E7E7;
    box-shadow: 0px 20px 10px rgba(99, 99, 99, 0.5);
}

li {
    padding: 10px 20px;
    cursor: pointer;
}

li:hover {
    background-color: #B8B8B8;
}

#filterBtn {
    position: absolute;
    margin-left: 85%;
    margin-top: -40px;
    background-color: transparent;
    border-color: #F24822;
    box-shadow: 2px 0px 10px inset rgba(167, 167, 167, 0.7);
    color: #F24822;
}

/* Courses */
#searchResults {
    line-height: 0px;
    display: flex;
    align-items: center;
}

article {
    display: flex;
    padding: 20px 3%;
    margin: 20px 0px;
    background-color: #E7E7E7;
    border-radius: 5px;
    box-shadow: 2px 0px 15px rgba(167, 167, 167, 0.7);
}

button {
    height: 40px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

article > button {
    box-shadow: 2px 0px 10px inset rgba(192, 148, 37,0.7);
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
    border: none;
    background-color: #FFC943;
}

article > button:hover {
    box-shadow: 0px 0px 15px 2px inset rgba(192, 148, 37,0.7);
}

#seeMoreDiv {
    display: flex;
}

#loadBtn {
    margin-left: 40%;
    margin-right: auto;
    background-color: transparent;
    border-color: #F24822;
    box-shadow: 2px 0px 10px inset rgba(167, 167, 167, 0.7);
    color: #F24822;
}

#loadBtn:hover {
    box-shadow: 0px 0px 15px 2px inset rgba(167, 167, 167,0.7) !important;
}

#seeMoreDiv > p {
    color: rgb(105, 105, 105);
}

.showedArticles {
    margin-left: auto;
    color: rgb(105, 105, 105);
}

article > div > a {
    color: black;
}

/* Confirmation */
.confirm {
    display: flex;
    position:fixed;
    left: 30%;
    right: 30%;
    bottom: 20px;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F24822;
    color: #fff;
    box-shadow: 2px 0px 15px rgba(167, 167, 167, 0.8);
}

.confirm > a {
    margin-bottom: 0px;
    margin-left: 5px;
    color: #fff;
    text-decoration: none;
}

.confirm > p {
    margin: 0px;
}

/* Screens under 800px*/
@media screen and (max-width: 800px) {
    #inputs { display: block; }
    #filter { margin-left: 3%; }
    label { display: block; margin-top: 15px; margin-left: 0px; }
    #sort { margin-left: 3%; margin-top: 20px;}
    input, select { width: 70%; }
    .confirm { width: 60%; left: 20%; right: 20%; }
    #loadBtn { margin-left: 40%; }
}

/* Screens under 640px*/
@media screen and (max-width: 640px) {
    article { flex-direction: column; overflow: scroll; }
    article > button { margin-right: auto; margin-top: 30px;}
    article > div { margin-left: 3%; margin-right: 3%; }
    .confirm { width: 70%; left: 15%; right: 15%;}
    #filterBtn { margin-left: 76%; }
    #seeMoreDiv { flex-direction: column; }
    #loadBtn { margin-left: auto; margin-right: auto; }
    #seeMoreDiv > p { margin-left: auto; margin-right: auto;}
}

/* Screens under 450px*/
@media screen and (max-width: 450px) {
    .confirm { width: 90%; left: 3%; right: 3%; }
}